:root{
    --red500: hsl(356,100%,66%);
    --red400: hsl(355,100%,74%);
    --blue900: hsl(240, 10%, 16%);

    --orange300: hsl(13,100% ,72%);
    --red550: hsl(253, 100%, 62%)
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-color: var(--orange300);
    display: flex;
    flex-direction: column;
    background-image: url("../assets/blogr-landing-page-main/images/bg-pattern-intro-mobile.svg");
    background-repeat:no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 40vh;
    width: 100%;
    border-radius: 0px 0px 0px 100px;
}

.inicioHeader{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}


.contenidoHeader{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contenidoHeader h1,h2{
    color: white;
    text-align: center;
}

.botonesHeader{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.botonesHeader button{
    border-radius: 20px;
    height: 3em;
    width: 8em;
}

.starButon{
    color: var(--orange300);
    background-color: white;
}
.learnButon{
    color: white;
    background-color: var(--orange300);
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
    text-align: center;
}

.seccion1 h2{
    color:var(--blue900);

}

.fondo-seccion2{
    position: relative;
    overflow: visible;
    background-color: var(--blue900);
    background-image: url("../assets/blogr-landing-page-main/images/bg-pattern-circles.svg");
    background-position: 100% bottom;
    height: 100%;
    border-radius: 0px 100px 0px 100px;
    width: 100%;
}
.seccion2{
    margin-top: 20vh;
    height: 55vh;
    overflow: visible;
    color: white;
    padding: 0px;
   
   
}
.fondo-seccion2 img{
    
    position: absolute;
    top: -20vh;
    left: 0px;
    width: 90vw;
}
.seccion2-texto{
    padding-top: 20vh;
    padding-bottom: 20vh;
    
}
.seccion3 div h2{
    color: var(--blue900);
}
.seccion3{
    height: 90vh;
}

h2, p{
    margin-bottom: 20px;
}

footer{
    background-color: var(--blue900);
    text-align: center;
    color: white;
    height: 60vh;
    padding: 10vh;
    border-top-right-radius: 100px;
}

/*

## Colors

### Primary

- Red 500: hsl(356, 100%, 66%)
- Red 400: hsl(355, 100%, 74%)
- Blue 900: hsl(208, 49%, 24%)

### Neutral

- White: hsl(0, 100%, 100%)
- Gray 600: hsl(207, 13%, 34%)
- Gray 900: hsl(240, 10%, 16%)

### Gradient

Background gradient - intro/CTA mobile nav:

- Orange 300: hsl(13, 100%, 72%)
- Red 550: hsl(353, 100%, 62%)

Background gradient - body:

- Purple 950: hsl(237, 17%, 21%)
- Purple 900: hsl(237, 23%, 31%)

## Typography

### Body Copy

- Font size: 16px
*/