body{
    margin-left: 456px;
    margin-right: 456px;
    padding-bottom: 140px;
    min-width: 600px;
}
nav *{
    display: flex;
    justify-content: right;
    gap: 24px;
    
}

nav li{
    margin-right: 24px;
}

section{
    text-align: justify;
}

form {
    border: 1px solid grey;
    padding: 24px;
    margin: 20px auto; 
    display: flex;
    flex-direction: column;
    gap: 20px;
}


form > * {
    margin: 0; 
}


.divDatos {
    display: flex;
    gap: 24px;
}


label {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-weight: 600;
}


textarea {
    margin-top: 6px;
    resize: vertical; 
}


.btnEnviar {
    align-self: flex-end;
    padding: 8px 18px;
}

.tarjeta {
    width: 300px;
    height: 400px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: lightgoldenrodyellow;
    box-shadow: 2px 3px 5px;
    border-radius: 4px;
}

.tarjImg.pezImg {
   
    background-position:center;
    width: 100%;
    height: 60%;
    background-size: cover;
}

.tarjDescripcion {
    padding: 12px;
    font-size: 14px;
    overflow: auto; 
}

.pezImg1{
    background-image:url("https://media.istockphoto.com/id/1154370446/photo/funny-raccoon-in-green-sunglasses-showing-a-rock-gesture-isolated-on-white-background.jpg?s=1024x1024&w=is&k=20&c=pDRbcAdAzUMJ6c1BL3y-jfnJ9uvlDHTFSkJ6_LpZSzU=");
}

.pezImg2{
    background-image: url("https://cdn.pixabay.com/photo/2021/03/28/08/18/ronaldo-6130591_960_720.jpg");
}

.pezImg3{
    background-image: url("https://tntsports.com.ar/__export/1716826254741/sites/tntsports/img/2024/05/27/messi-gol-cabeza-barcelona_crop1716825196617.jpg_265197906.jpg");
}

.imagenes{
   min-width: 400px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 8px;
    margin-bottom: 30px;
}
.tarjeta:hover{
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
}

.volver{
    border: 1px grey solid;
    max-width: 64px;
}
